.Lock{
    width: 300px;
    margin: 40px auto 0;
    padding: 5px;
    border: 2px solid grey;
}

.Password{
    border: 1px solid grey;
    border-radius: 3px;
    width: 100%;
    height: 50px;
    text-align: center;
    padding: 5px 0 15px;
    font-size: 50px;
}
.granted{
    background-color: lightcyan;
}

.denied{
    background-color: lightpink;
}
.Numpad{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}